 /* white button */
@import '../core/variables';

 .white-button {
 

    display: block;
     height: 60px;
     width: 188px;
     background: $color-white;
     position: relative;
    
    
     text-align: center;
     align-self: center;
     
    
    
     padding: 3px;
     color: $color-dark;
     text-align: center;
     font-family: $font-poppins;
     font-size: 1rem;
     font-weight: $font-weight-medium;
     padding-top: 18px;
     }
    a.white-button {
     text-decoration: none;
    }
    a.white-button:hover {
        background-color: $color-dark;
        color:$color-red-0;
    }