
.product-spinner {
  display: flex;
  align-items: center;
}
.product-spinner .container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

}
.product-spinner-grid {
  display: grid;
  grid-template-areas: "header header header" 
  "main main main"
  "main main main"
  "main main main";
  column-gap: 0px;
  row-gap: 1.5rem;
  /*   background-color: #2196F3;  */
/*  border: 1px solid black; */

  grid-auto-flow: column;
  
  max-width:100%;

  .main {
    /*   grid-area: main; */
    
      margin-bottom: 0; 
    }
  }
.product-spinner-grid-header {
  width: 100%;
  grid-area: header;
  height: 28px;

}

.product-spinner-grid-main {
  grid-area: main;
}
.product-spinner-grid h2 {
  font-size: 1.25rem;
  font-weight: 800;
}


/* discount card */

.discount.card {
  border: none;
height: 132px;
}

.discount.card .card-menu {
  position: absolute;

  width: 50px;
  z-index: 1;
  margin-top: -0.5rem;
  overflow: hidden;
  left: -9000%; 
  top: 0;
  right: 1rem;
  list-style: none;
  /* center aligining the menu tested in edge, opera, safari */
  padding: .85rem;
  font-size: 1.25rem;
  border-radius: $border-radius-medium;
/*   background-color: $color-white); */
  transition:  0.1s ease-in-out;


}

.discount.card:hover .card-menu  {
  display: block;
left: 100px;
}
.discount.card .fa-stack.small { font-size: 0.5em; }
  i { vertical-align: middle; }

  .discount.card .card-body {
  text-align: left;
  margin-top: -4%;
  margin-left: 20%;

 
}
.discount.card  .card-body h5 {
  
  font-family: $font-poppins;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 2px;
  color:$color-font-featured-category;
}
.discount.card  .card-body h4 {
  font-family: $font-poppins;
  font-size: 0.925rem;
  font-weight: 800;
  letter-spacing: 2px;
  color:$color-font-featured-category;
}
.discount.card > .card-body .text-theme {
  color: $color-red-0;
}
.discount.card .card-body .price {
  margin-top: 0.3rem;
  display: block;
text-align: left;

}
.discount.card-body .price .old-price {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: line-through;
  padding-right: 0.5rem;
  display: none;
}
.discount.card > .card-body .price .new-price {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.discount.card  > .quickview-buttons {
  position: absolute;
  top:-9000%;
}
.discount.card:hover > .quickview-buttons {
  position: absolute;
  top:41%;
}
.discount.card:hover  {
  overflow: hidden;
}
.discount.card .quickview-button {


  display: none;
   height: 50px;
   width: 255px;
   background: #FF7373;;
   position: relative;
  
  
   text-align: center;
   align-self: center;
   
  margin-top: 200px;
  
   padding: 3px;
   color: #fff;
   text-align: center;
   font-family: $font-poppins;
   font-size: 0.875rem;
   letter-spacing: 3.2px;
   font-weight: 400;
   padding-top: 15px;
 
   z-index: 2;
   }
  a.discount.card > .quickview-button {
   text-decoration: none;
   font-stretch: 300%;
  }
  a.discount > .quickview-button:hover {
      background-color: #222529;
      color:#FF7373
  }

  .discount.card {
    display: flex;
    position: relative;
}
.discount.card .card-menu li a {
    background-color: white;
   margin-bottom: 0.2rem;


    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    display:inline-block;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.06) ;
    align-items: center;
  line-height:1.7rem;
  text-align: center;
   position: relative;
   font-size: 0.7rem;
   color: $color-dark;
}
.discount.card .card-menu li a:hover {
    font-weight:600;
    color:$color-white;
    text-decoration: none;
    background-color: $color-dark;
}



.discount.card .card-background {
    position: absolute;
    bottom: 0;
    height: 0;
    top:75px;
    width: 100%;
 /*    background-color: $color-theme-dark); */
    opacity: 0.90;
    transition: height 0.3s ease-in-out;
}
 .discount-image  {

  display: inline-block;
   object-fit: contain;

   opacity:0.3;
   
 
}
.discount.card .card-background .discount-image-dark {
    
    display: none;
}
.discount.card:hover .card-background .discount-image-dark  {
    
    display: block;
}
.discount.card:hover .card-background {
    position: absolute;
    bottom: 0;
    height: 200px;
    top:0;
    width: 100%;
   /*  background-color: $color-theme-dark); */
    opacity: 0.90;
    transition: height 0.02s ease-in-out;
}


@media (min-width: 1200px) {

.product-spinner {
  display: flex;
  align-items: center;
}
.product-spinner .container {
  display: flex;
  justify-content: center;
  width: 100%;

}
.product-spinner-grid {
  display: grid;
  grid-template-areas: "header header header" 
  "main main main"
  "main main main"
  "main main main";
  column-gap: 0px;
  row-gap: 1.5rem;
/*     background-color: #2196F3; */
 
  grid-template-columns: 365px 365px 365px;
  grid-template-rows: 28px 132px 132px 132px;
  grid-auto-flow: column;
  
  max-width: 100%;


  }
.product-spinner-grid-header {
  width: 100%;
  grid-area: header;
  height: 28px;

}

.product-spinner-grid-main {
  grid-area: main;
}
.product-spinner-grid h2 {
  font-size: 1.25rem;
  font-weight: 800;
}


/* discount card */

.discount.card {
  border: none;
  height: 132px;

}

.discount.card .card-menu {
  position: absolute;

  width: 50px;
  z-index: 1;
  margin-top: -0.5rem;
  overflow: hidden;
  top: -9000%; 
  top: 0;
  right: 1rem;
  list-style: none;
  /* center aligining the menu tested in edge, opera, safari */
  padding: .85rem;
  font-size: 1.25rem;
  border-radius: $border-radius-medium;
/*   background-color: $color-white); */
  transition:  0.1s ease-in-out;

}
.discount.card:hover .card-menu  {
  display: block;
left: 100px;
}
.discount.card .fa-stack.small { font-size: 0.5em; }
  i { vertical-align: middle; }

  .discount.card .card-body {
    text-align: left;
    margin-top: 2rem;
    margin-left: 20%;

 
}
.discount.card > .card-body {

  text-align: left;
  margin-top: -4%;
  margin-left: 20%;
 
}
.discount.card > .card-body h5 {
  
  font-family: $font-poppins;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 2px;
  color:$color-font-featured-category;

}
.discount.card  .card-body h4 {
  font-family: $font-poppins;
  font-size: 0.925rem;
  font-weight: 800;
  letter-spacing: 2px;
  color:$color-font-featured-category;
}
.discount.card > .card-body .text-theme {
  color: $color-red-0;
}
.discount.card .card-body .price {
  margin-top: 0.3rem;
  display: block;
text-align: left;

}
.discount.card-body .price .old-price {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: line-through;
  padding-right: 0.5rem;
  display: none;
}
.discount.card > .card-body .price .new-price {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.discount.card  > .quickview-buttons {
  position: absolute;
  top:-9000%;
}
.discount.card:hover > .quickview-buttons {
  position: absolute;
  top:41%;
}
.discount.card:hover  {
  overflow: hidden;
}
.discount.card .quickview-button {


  display: none;
   height: 50px;
   width: 255px;
   background: #FF7373;;
   position: relative;
  
  
   text-align: center;
   align-self: center;
   
  margin-top: 200px;
  
   padding: 3px;
   color: #fff;
   text-align: center;
   font-family: $font-poppins;
   font-size: 0.875rem;
   letter-spacing: 3.2px;
   font-weight: 400;
   padding-top: 15px;
 
   z-index: 2;
   }
  a.discount.card > .quickview-button {
   text-decoration: none;
   font-stretch: 300%;
  }
  a.discount > .quickview-button:hover {
      background-color: #222529;
      color:#FF7373
  }


.discount.card  {
  display: flex;
  text-align: left;
  margin-top: -4%;
  margin-left: 0;
  padding-bottom: 50px;

 
}
.discount.card .card-menu li a {
    background-color: white;
   margin-bottom: 0.2rem;


    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    display:inline-block;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.06) ;
    align-items: center;
  line-height:1.7rem;
  text-align: center;
   position: relative;
   font-size: 0.7rem;
   color: $color-dark;
}
.discount.card .card-menu li a:hover {
    font-weight:600;
    color:$color-white;
    text-decoration: none;
    background-color: $color-dark;
}



.discount.card .card-background {
  position: absolute;
  bottom: 0;
  height: 0;
  top:0;
  width: 100%;
/*    background-color: var(--color-theme-dark); */
  opacity: 0.90;
  transition: height 0.3s ease-in-out;
}
.discount.card .discount-image  {
  display: grid;
   object-fit: cover;
   opacity:0.3;
 
   position: absolute;
   top: 0;
 
}
.discount.card .card-background .discount-image-dark {
    
    display: none;
 
}
.discount.card:hover .card-background .discount-image-dark  {
    
    display: block;
  
}
.discount.card:hover .card-background {
  position: absolute;
  bottom: 0;
  height: 200px;
  top:0;
  width: 100%;
 /*  background-color: var(--color-theme-dark); */
  opacity: 0.90;
  transition: height 0.02s ease-in-out;
    
}
}

@media (max-width: 600px) {

  .product-spinner {
    display: flex;
    align-items: center;
  }
  .product-spinner .container {
    display: flex;
    justify-content: center;
    width: 100%;
  
  }
  .product-spinner-grid {
    display: grid;

 grid-template-columns: 1fr;
grid-template-rows: 100px 1fr 1fr 1fr; 



  column-gap: 2.1rem;



  width: 100%;
/*     background-color: #2196F3; */


.main {
/*   grid-area: main; */

  margin-bottom: 150px; 
}
  }

/*   .discount.card  {
    position: relative;
    margin-bottom: 50px;
  }
  .discount.card .header h2 {
    margin-bottom: 50px;
  }
 */

  .discount-image  {
    display: block;
     object-fit: contain;
     opacity:0.2;
     
   
  }

  .discount.card .card-menu {
    position: absolute;
  
    width: 50px;
    z-index: 1;
    margin-top: -0.5rem;
    overflow: hidden;
    left: -9000%; 
    top: -75px;
    right: 1rem;
    list-style: none;
    /* center aligining the menu tested in edge, opera, safari */
    padding: .85rem;
    font-size: 1.25rem;
    border-radius: $border-radius-medium;
  /*   background-color: $color-white); */
    transition:  0.1s ease-in-out;
  
  
  }
  .discount.card:hover .card-menu  {
    display: block;
  left: 100px;
  }
  .discount.card .card-background {
    position: absolute;
    bottom: 0;

    top:0;
    width: 100%;

    opacity: 0.90;
    transition: height 0.3s ease-in-out;
} 
  .discount.card .card-background .discount-image-dark {
    
      display: none;
      position: absolute;
      top: -75px;
  }
  .discount.card:hover .card-background .discount-image-dark  {
    
    display: block;
    position: absolute;
    top: -75px;
  }
  

.discount.card:hover  {
  overflow: visible;
}
}
